{% extends 'dashboard/base.html' %}
{% block pagetitle %}Dashboard - Edit Product{% endblock %}
{% block main %}
<h3>Edit Product - ID {{ product.id }}</h3>
<div>
  <form action="{% url 'db:updateProduct' %}" method="POST">
    {% csrf_token %}
    <table>
      <tr>
        <th style="text-align: right;">Name</th>
        <td style="text-align: left;"><input type="text" name="name" value="{{ product.name }}" /></td>
      </tr>
      <tr>
        <th style="text-align: right;">Description</th>
        <td style="text-align: left;"><input type="text" name="description" value="{{ product.description }}" /></td>
      </tr>
      <tr>
        <th style="text-align: right;">Category</th>
        <td style="text-align: left;">
          <select name="category">
            {% for category in categories %}
              <option {% if product.category.id == category.id %}selected{% endif %} value="{{ category.id }}">
                {{ category.name }}
              </option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <th style="text-align: right;">or add a new category</th>
        <td style="text-align: left;">
          <input type="text" name="new_category" value="" />
        </td>
      </tr>
      <tr>
        <th style="text-align: right;">Images</th>
        <td style="text-align: left;">
          <button>Upload</button>
        </td>
      </tr>
      {% for image in product.images.all %}
        <tr>
          <th></th>
          <td style="text-align: left;">
            <img src="{% comment %}{{ image.url }}{% endcomment %}" alt="{{ product.name }}" class="img-thumb" />
            {{ image.url }}
            <a href="#">delete</a>
            <input type="radio" name="image_is_main" value="{{ image.id }}" {% if image.is_main %}checked{% endif %}>main
          </td>
        </tr>
      {% endfor %}
      <tr>
        <th></th>
        <td style="text-align: left;">
          <a href="{{ request.META.HTTP_REFERER }}"><button>Cancel</button></a>
          <a href="{{ request.META.HTTP_REFERER }}"><button>Preview</button></a>
          <input type="submit" value="Update" />
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
