{% extends 'dashboard/base.html' %}
{% block pagetitle %}Dashboard - Products{% endblock %}
{% block main %}
  <p>Search Bar and add product button</p>
  <table class="table table-striped">
    <tr>
      <th style="width: 10%;">Picture</th>
      <th style="width: 10%;">ID</th>
      <th style="width: 30%;">Name</th>
      <th>Inventory Count</th>
      <th>Quantity Sold</th>
      <th style="width: 10%;">Action</th>
    </tr>
    {% for product in products %}
      <tr>
        <td><img src="{% comment %}{{ product.getMainImage.url }}{% endcomment %}" alt="{{ product.name }}" class="img-thumb" /></a></td>
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.getActiveInventory.num_avail }}</td>
        <td>{{ product.getActiveInventory.num_sold }}</td>
        <td><a href="#">edit</a> <a href="#">delete</a></td>
      </tr>
    {% endfor %}
  </table>
  <p>page numbers</p>
{% endblock %}
