{% extends 'dashboard/base_1row_1col.html' %}
{% block pagetitle %}Dashboard - Products{% endblock %}
{% block main %}
  <div class="">
    <div class="col-sm-4" style="border: 1px solid lightgrey; border-radius: 10px;">
      Search Bar (TODO)
    </div>
    <div class="col-sm-2 pull-right">
      <button>Add new product</button>
    </div>
  </div>
  <div class="">
    &nbsp;
  </div>
  <div class="">
    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th style="width: 10%;">Picture</th>
        <th style="width: 10%;">ID</th>
        <th style="width: 30%;">Name</th>
        <th>Inventory Count</th>
        <th>Quantity Sold</th>
        <th style="width: 10%;">Action</th>
      </tr>
      {% for product in products %}
        <tr>
          <td><img src="{% comment %}{{ product.getMainImage.url }}{% endcomment %}" alt="{{ product.name }}" class="img-thumb" /></a></td>
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.getActiveInventory.num_avail }}</td>
          <td>{{ product.getActiveInventory.num_sold }}</td>
          <td>
            <a href="{% url 'db:editProduct' id=product.id %}">edit</a>
            <a href="{% url 'db:destroyProduct' id=product.id %}">delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="pagination">
    <div class="step-links">
      {% if products.has_previous %}
        <a href="?page={{products.previous_page_number}}">previous</a>
      {% endif %}
      {% if products.has_previous and products.has_next %}
        &nbsp;&nbsp;|&nbsp;&nbsp;
      {% endif %}
      {% if products.has_next %}
        <a href="?page={{products.next_page_number}}">next</a>
      {% endif %}
    </div>
    <div class="step-links">
      {% for page in products.paginator.page_range %}
        {% if forloop.counter != 1 %}
          &nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
        {% ifequal page products.number %}
          {{ page }}
        {% else %}
          <a href="?page={{page}}">{{ page }}</a>
        {% endifequal %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
