{% extends 'shopping/base.html' %}
{% block pagetitle %}Dojo eCommerce{% endblock %}
{% block main1 %}
  <div class="sidebar">
    <p>search box</p>
    <br>
    <h6>Categories</h6>
    <ul>
      {% for category in categories %}
      <li>{{category.name}}</li>
      {% endfor %}
      <li>show all</li>
    </ul>
  </div>
{% endblock %}
{% block main2 %}
  <h2>Category (Page #)  page navigation</h2>
  <p><select class="form-control" name="sort_by">
    <option value="price">Price</option>
    <option value="popularity">Most Popular</option>
  </select>
  {% for product in products %}
    <a href="{% url 'shopping:show' id=product.id %}"><img src="{% comment %}{{product.getMainImage.url}}{% endcomment %}" alt="{{product.name}}" class="img-med"></a>
  {% endfor %}
  <p>page numbers</p>
{% endblock %}
