{% extends 'shopping/base.html' %}
{% block pagetitle %}Dojo eCommerce{% endblock %}
{% block main1 %}
  <div class="sidebar">
    <p>search box</p>
    <br>
    <h6>Categories</h6>
    <ul>
      {% for category in categories %}
      <li>{{category.name}}</li>
      {% endfor %}
      <li>show all</li>
    </ul>
  </div>
{% endblock %}
{% block main2 %}
  <h2>Category (Page #)  page navigation</h2>
  <p>sort dropdown</p>
  {% for product in products %}
    <a href="{% url 'shopping:show' id=product.id %}"><img src="{{product.getMainImage.url}}" alt="" class="img-med"></a>{{}}</p>
  {% endfor %}

  <a href="{% url 'shopping:show' id=1 %}"><img src="" alt="" class="img-med"></a>
  <a href="{% url 'shopping:show' id=1 %}"><img src="" alt="" class="img-med"></a>
  <p>page numbers</p>
{% endblock %}
