{% extends 'shopping/base.html' %}
{% block pagetitle %}Dojo eCommerce{% endblock %}
{% block main1 %}
  <p><a href="{% url 'shopping:index' %}">Go Back</a></p>
  <h3>Product Name</h3>
  <p><img src="{% comment %}{{product.getMainImage.url}}{% endcomment %}" alt="{{product.name}}" class="img-lg"></p>
  {% for image in product.images.all %}
    <img src="{% comment %}{{image.url}}{% endcomment %}" alt="alt images" class="img-sm">
  {% endfor %}
{% endblock %}
{% block main2 %}
  <p>{{product.description}}</p>
  <p>Price: ${{product.getCurrentPrice}}</p>
  <form class="" action="{% url 'shopping:addToCart' id=product.id %}" method="post">
    {% csrf_token %}
    <label>Quantity: <input type="text" name="quantity" class="form-control"></label>
    <input type="submit" name="" value="Add To Cart">
  </form>
  {% if messages %}
    <div class="errors">
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
    </div>
  {% endif %}
{% endblock %}
{% block mainbottom %}
  <h4>Similar Items</h4>
  <a href=""><img src="" alt="other items" class="img-med"></a>
  <a href=""><img src="" alt="other items" class="img-med"></a>
  <a href=""><img src="" alt="other items" class="img-med"></a>
{% endblock %}
